body {
	overflow: hidden;
}

* {
	// outline: 1px solid red;
}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	flex-direction: column;
	text-align: center;
	margin-top: -5%;

	.error {
		width: 50%;
		height: 50%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		font-family: 'Jetbrains Mono', 'Courier New', Courier, monospace;
	}

	.btn {
		width: 20%;
	}

	.id {
		font-size: 4em;
		font-weight: 700;
		color: #000000;
	}

	.msg {
		font-size: 2em;
		margin-bottom: 10px;
	}

	hr {
		width: 66%;
		color: rgba(0,0,0,0.5);
	}
}