@import "./global.scss";
@import "./button.scss";

.container {
	display: flex;
	position: absolute;
	top: 12%;

	justify-content: center;
	
	width: 97.5%;
	height: 80%;

	font-family: 'Poppins', Arial, Helvetica, sans-serif;

	.hero {
		width: 100%;
		padding: 10% 5%;
		border-radius: $border;
		outline: $out;

		.welcome {

			h1 {
				font-weight: 500;
				font-size: 3.1em;
			}

			h3 {
				font-weight: 400;
				font-size: 2.3em;
				color: #626262;
			}

			.description {
				width: 35%;
				font-weight: 300;
				font-size: 1.3em;
				color: #626262;
			}
		}

		.buttons {
			margin-top: 4%;
		}
	}
}

@media (max-width: 600px) {
	.container {
		display: flex;
		position: absolute;
		top: 9%;
	
		justify-content: center;
		
		width: 89%;
		height: 85%;
	
		font-family: 'Poppins', Arial, Helvetica, sans-serif;
	
		.hero {
			width: 100%;
			padding: 10% 5%;
			border-radius: $border;
			outline: $out;
	
			.welcome {
	
				h1 {
					font-weight: 500;
					font-size: 2.5em;
				}
	
				h3 {
					font-weight: 400;
					font-size: 1.7em;
					color: #626262;
				}
	
				.description {
					width: 95%;
					font-weight: 300;
					font-size: 1.3em;
					color: #626262;
				}
			}

			.buttons {
				margin-top: 10%;
	
				.btn {
					padding: 3.5% 30%;
					border: none;
					border-radius: 24px;
					font-weight: 500;
					font-size: 0.9em;
					width: 100%;
					margin-top: 1%;
					text-align: center;
					margin-right: 20px;
				}
			}
		}
	}

}