@import "./global.scss";

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	padding: 24px 24px;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 10%;
	// background-color: $bg;
	color: $fg;
	border-radius: $border;
	outline: $out;
}

.logo {
	cursor: pointer;
}

.menu {
	list-style: none;
	display: flex;
	font-weight: 300;
	font-family: "Poppins", sans-serif;

	li {
		padding: 0px 20px;

		a {
			text-decoration: none;
			color: $fg;
			font-size: 1.2em;
			transition: color 0.3s ease 0s;
			transition-property: color, underline;
			
			&:hover {
				color: $ac;
				text-decoration: underline;
			}
		}
	}
}

@media (max-width: 600px) {
	header {
		padding: 10px 5%;
	}

	.menu {
		li {
			padding: 0px 10px;
		}
	}
}