<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="km127pl">
    <meta name="description" content="A portfolio page showcasing my work.">
    <meta name="theme-color" content="#edf0f1">
    <meta name="color-scheme" content="light">
    <meta name="msapplication-TileColor" content="#edf0f1">

	<!-- Open Graph meta tags for social media sharing -->
    <meta property="og:title" content="km127pl's website">
    <meta property="og:description" content="A portfolio page showcasing my work.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://km127pl.us/">
    <meta property="og:image" content="https://km127pl.us/public/img/thumbnail.jpg">
    <meta property="og:image:alt" content="km127pl's website thumbnail">
    
    <!-- Twitter Cards meta tags for Twitter sharing -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="km127pl's website">
    <meta name="twitter:description" content="A portfolio page showcasing my work.">
    <meta name="twitter:image" content="https://km127pl.us/public/img/thumbnail.jpg">

	<!-- Favicon -->
	<link rel="icon" type="image/jpg" href="https://km127pl.us/public/img/favicon.png">

	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100;200;300&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="/public/css/index.css">
    <title><%= title %> | km127pl.us</title>
</head>
<body>
    

