<link rel="stylesheet" href="/public/css/navbar.css">
<header>
	<a class="logo" href="/">
		<!-- <img src="images/logo.svg" alt="logo" /> -->
	</a>
	<nav>
		<ul class="menu">
			<li><a href="/">home</a></li>
			<li><a href="/projects">projects</a></li>
			<li><a href="/about-me">about me</a></li>
			<li><a href="/contact">contact</a></li>
		</ul>
	</nav>
	<p></p>
</header>
