<%- 
include('components/head.ejs', {
    title: "homepage"
})
%>

<%-
include('components/navbar.ejs', {
    current: "home"
})
%>

<div class="container">
    <div class="hero">
        <div class="welcome">
            <h1 id="welcome-text">Hey there!</h1>
            <h3>I'm KM127PL</h3>
            <p class="description">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem perspiciatis odio nisi reprehenderit vel harum alias repudiandae qui earum, praesentium aliquid est atque illo architecto cupiditate possimus veniam quas eius.
            </p>
        </div>
        <div class="buttons">
            <button class="btn outline">PROJECTS</button>
            <button class="btn filled">CONTACT</button>
        </div>
    </div>
</div>

<%-
include('components/footer.ejs');
%>